{% extends "base.html" %} {% block body %}

<title>{% block title %} Favorites Quotes List {% endblock %}</title>

<div class="container">

    <div class="row mt-5 pt-3">
        <div class="col-md-5 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">

                    <!--###################################################################################-->
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <ul class="messages">
                            {% for message in messages %}

                            <li>{{ message }}</li>
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                          {% endfor %}
                    </div>
                    {% endif %}
                    <!--###################################################################################-->

                    <h2>Hello! </h2>
                    <h2 class="text-success">{{request.session.u_email}}</h2>
                    <br>
                    <h2> Quotable Quotes:</h2>
                    <hr>
                    {% for quote in quotes %}
                    <p class="text-primary">{{ quote.quoted_by }}</p>
                    <p class="text-danger">{{ quote.quote_text }}</p>
                    <p class="text-success"> Posted by: <a href="/users/{{quote.author.id}}"> {{quote.author}} </a> </p>
                    <button type="submit">
                        <a class="btn btn-info" href="/quote/{{quote.id}}"> Add to My List </a>
                    </button>
                    <br>
                    <br>
                    <br>
                    {% endfor %}
                    <hr>
                    <h2> Contribute a Quote:</h2>
                    <br>
                    <div>
                        <form action='/quote' method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="quoted_by"> Quoted By: </label>
                                <textarea name='quote_author' rows='1' cols='50' class="form-control" id="quoted_by"
                                    placeholder='Quoted by..'> </textarea>
                            </div>
                            <div class="form-group">
                                <label for="message"> Message: </label>
                                <textarea name='quote' rows='3' cols='50' class="form-control" id="quoted_by"
                                    placeholder='Your quote here..'> </textarea><br>
                            </div>
                            <div>
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.extra_tags == "quote_post" %}
                                {{ message }}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-success"> Submit </button>
                        </form>
                    </div>
                    <br>
                    <br>
                    <hr>
                    <div>
                        <h2> Your Favourite Quotes:</h2>
                        <br>
                        {% for quote in favourites %}
                        <p class="text-primary">{{ quote.quoted_by }}</p>
                        <p class="text-danger">{{ quote.quote_text }}</p>
                        <p class="text-success"> Posted by: <a href="/users/{{quote.author.id}}"> {{quote.author}} </a>
                        </p>
                        <button type="submit"><a class="btn btn-danger" href="/remove/{{quote.id}}"> Remove from my list
                            </a> </button>
                        <br>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}